* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(212, 210, 210);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: ;
}

.container {}

.navbar {
    overflow: hidden;
    background-color: #333;
    padding: 10px;
    box-shadow: 3px 3px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .sign-up {
    margin-left: 90px;
}

.navbar .sign-in {
    margin-left: 20px;
}

.navbar .sign-in a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid darkgrey;
    background-color: green;
}

.navbar .sign-up a {
    border: 2px solid darkgrey;
    padding: 15px;
    border-radius: 40px;
}

.navbar ol {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

.navbar li {
    margin-left: 90px;
}

.navbar li a:hover {
    background-color: darkgreen;
    padding: 15px;
    transition: background-color 0.9s ease;
    border-radius: 10px;
}

.navbar .logo {
    display: inline;
    font-size: 2em;
    color: black;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    background-color: darkgreen;
    margin-left: 10px;
    border: 2px solid black;
    font-stretch: expanded;
    padding: 6PX;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.side_bar {
    overflow: hidden;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
}

.side_bar.open {
    left: 0;
}

@media screen and (max-width: 768px) {
    .side_bar {
        left: -100%;
        width: 100%;
    }
    .side_bar.open {
        left: 0;
    }
}

.toggle-btn {
    width: 50px;
    height: 55px;
    font-size: 14px;
    border-radius: 29px;
    cursor: pointer;
    padding: 12px 10px;
    position: relative;
}

.side_bar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-right: 2px solid darkgreen;
    position: absolute;
}

.side_bar ol {
    justify-content: space-around;
    list-style-type: none;
}

.side_bar ol li {
    margin-top: 30px;
}

.side_bar li a:hover {
    background-color: darkgreen;
    padding: 15px;
    transition: background-color 0.9s ease;
    border-radius: 10px;
}

.side_bar a {
    color: black;
    text-decoration: none;
}

.main_content {
    background: url(sidebar.jpg);
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 2px 2px;
}

.text h1 {
    color: transparent;
    font-size: 3rem;
    padding: 30px;
    background: linear-gradient(135deg, blue, red);
    background-clip: text;
}

.text {
    background-color: transparent;
    backdrop-filter: blur(20px);
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: min(110vh, 90%)
}

.about {
    width: min(110vh, 90%);
    justify-self: center;
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-top: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    border: 1px solid black;
    gap: 10px;
}

.about2 {
    background-color: aqua;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(250, 250, 249);
}

.about3 {
    background-color: red;
    padding: 20px;
    right: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(247, 248, 248);
}

.about4 {
    background-color: yellow;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(253, 253, 253);
}