* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_box {
    position: relative;
    background: url(../sidebar.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main_box .sidebar-menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgb(128, 128, 128, 0.5);
    box-shadow: 0 0 0 6px rgb(128, 128, 128, 0.5);
}

.sidebar-menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 0 6px rgba(31, 31, 31, 0.4);
}

.sidebar-menu .logo a {
    color: rgb(10, 0, 0);
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar-menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar-menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3s linear
}

.sidebar-menu .menu i {
    color: black;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar-menu .menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sidebar-menu .menu li:hover {
    border-left: 1px solid black;
    box-shadow: 0 0 0 3px rgba(80, 79, 79, 0.5);
}

.sidebar-menu .social_media {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.social_media i {
    padding: 0 5px;
    color: black;
    opacity: 0.6;
    font-size: 20px;
}

.social_media i:hover {
    opacity: 1;
    transition: all 0.2s linear;
}

#check {
    display: none;
}

.main_box .btnone i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.sidebar-menu .btntwo i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}

.btnone i:hover {
    font-size: 29px;
}

.btntwo i:hover {
    font-size: 24px;
}

#check:checked~.sidebar-menu {
    left: 0px;
}

#check:checked~.btnone i {
    opacity: 0;
}

#check:checked~.sidebar-menu .btntwo i {
    opacity: 1;
}